[core]
#activate_env = /path/to/activate_this.py
company = Port Olisar Web Services
website = http://www.portolisar.com
schedule_url = https://robertsspaceindustries.com/schedule-report
logging_format = %%(asctime)s %%(name)s.%%(funcName)s +%%(lineno)s: %%(levelname)-8s [%%(process)d] %%(message)s

[ocr]
api_key = <your key>

[ical]
name = RSI Schedule
uid_domain = portolisar.com
# the following is in hours
event_start = 12
event_duration = 2
